@charset "UTF-8"; /* KEYBOARD CODE OF THE STYLIZATIONS CODE */

/* FONTS INPORTS */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Noto+Sans+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

/* PAGE OR ALL STYLIZATION */
*, HTML {
    margin: 0px;
    padding: 0px;
}

/* BODY STYLIZATION */
body { 
    background-color: rgb(240, 240, 240);
    transition: var(--configTrasition03s);
}

:root { /* CONFIGS STANDARD AND PATERNS */
    /* FONTS */
    --fontDisplay: 'Noto Sans Display', sans-serif;
    --fontMonoSerif: 'Courier Prime', monospace;
    --fontSerif: 'Zilla Slab', serif;


    /* COLORS */
    --colorWhite: rgb(230, 230, 230);
    --colorBlack: rgb(5, 5, 5);
    --colorGray: rgb(150, 150, 150);
    --colorContrastOpacity: rgba(20, 20, 20, 0.685);
    --colorContrast: rgb(20, 20, 20);
    --colorInteractionElements: rgb(175, 175, 175);
    --colorShadow: rgba(0, 0, 0, 0.5);


    /* CONFIG STANDARDS */
    --configTrasition03s: 0.3s;
    --configTrasition02s: 0.2s;
}
/* abbr STYLIZATION */
abbr {
    text-decoration: none;
}
/* a STYLIZATION */
a {
    text-decoration: none;
}
/* li STYLIZATION */
li {
    text-decoration: none;
}
.contrast {
    color: var(--colorGray);
}
header {
    display: block;
    background-color: var(--colorBlack);
    border-bottom: 2px solid var(--colorBlack);
    padding: 10px; 
    box-shadow: 2px 2px 10px var(--colorShadow);
    transition: var(--configTrasition03s);
}
main {
    display: flex;
    flex-direction: column;
    place-items: center;
    transition: var(--configTrasition03s);
}
#mainDiv {
    padding: 10px;
}
footer {
    display: flex;
    background-color: var(--colorBlack);
    border-top: 2px solid var(--colorBlack);
    padding: 10px;
    text-align: start;
    font-family: var(--fontSerif);
    box-shadow: -2px -2px 10px var(--colorShadow);
    transition: var(--configTrasition03s);
}
.footerDivs {
    display: inline;
    margin-right: 10px;
}
.footerLi {
    text-indent: 5px;
}