@charset "UTF-8"; /* KEYBOARD CODE OF THE STYLIZATIONS CODE */

header {
    font-size: 2vw;
}
#updated {
    display: block;
    color: var(--colorWhite);
    font-family: var(--fontMonoSerif);
    /*text-shadow: 2px 2px 4px var(--colorShadow);*/
    font-size: 3vw;
}
.titles {
    font-size: 5.5vw;
}
h1 {
    font-size: 6.5vw;
}
li {
    list-style-type: none;
}

footer {
    font-size: 3.5vw;
}
.footerLi {
    text-indent: 5px;
}
#iconLocation {
    width: 3.5vw;
    padding-right: 3px;
}
#titleLocation {
    display: flex;
}
#iconContact {
    width: 3.5vw;
    padding-right: 5px;
}
#titleContact {
    display: flex;
}