@charset "UTF-8"; /* KEYBOARD CODE OF THE STYLIZATIONS CODE */

header {
    font-size: 2vw;
}
#updated {
    display: block;
    color: var(--colorWhite);
    font-family: var(--fontMonoSerif);
    /*text-shadow: 2px 2px 4px var(--colorShadow);*/
    font-size: 3vw;
}
h1 {
    color: var(--colorBlack);
    /*text-shadow: 2px 2px 4px var(--colorShadow);*/
    font-family: var(--fontDisplay);
    font-size: 5.5vw;
}
li {
    list-style-type: none;
}

footer {
    font-size: 3vw;
}
.footerDivs {
    color: var(--colorWhite);
}